<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
<img src="/static/logo.png">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<h1>Upload Picture</h1>
</nav>

   
</div>
  
<div class="container">
<form action="/Prediction" method="post" enctype="multipart/form-data">
<div class="form-group">
  <center><input type="file"  name="fileToUpload" id="fileToUpload"><br><br>
  <input type="submit" class="btn btn-success" value="Upload Image" name="submit"></center>
</div>
</form>
</div>

</body>
</html>
